.Avatar-form {
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 60%;
    height: 40%;
}
.Avatar-form > h4 {
    background: white;
    transform: translate(425px, -35px);
    position: absolute;
    width: 150px;
    height: 20px;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 40%;
}
.arrow-left {
    position: absolute;
    cursor: pointer;
    transform: translate(0, 4px);
    right: 80%;
}
.arrow-right {
    position: absolute;
    cursor: pointer;
    transform: translate(0, 4px);
    left: 80%;
}
.content {
    margin: 60px;
}
